@import "style/colors.scss";

#Popup {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 90%;

  .popup__container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: grey 0 1px 9px -5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;

    .popup__container-head {
      display: flex;
      border-bottom: 1px solid rgba(128, 128, 128, 0.47);
      padding: 5px;
      color: rgba(128, 128, 128, 0.47);
      margin-bottom: 6px;
      .icon-close {
        margin-left: auto;
        margin-right: 0;
      }
    }
    .popup__container-body {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      min-height: 100px;
      img {
        object-fit: cover;
        height: 90px;
        width: 40%;
      }
      .popup__container-info {
        width: 55%;
        align-self: center;
        p {
          margin: 0;
        }
      }
    }
  }
}