@import 'style/colors.scss';
@import 'style/fontface.scss';

.cluster-marker {
  background-color: transparentize($orange, .3);
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  pointer-events: all;
  overflow: visible;
  font-size: .8rem;
}

.clusterMarker{
  z-index: 10;
  pointer-events: none;
}