@import 'styles/colors.scss';
@import 'styles/fontface.scss';

.bar {
  margin: 0 1.5rem;
  hr {
    border: none;
    border-top: 1px solid rgba(0,0,0,.075);
  }
}
.bar__heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: .3rem;
}
.bar__name {
  font-family: Ambit-SemiBold;
  margin: 0 .5rem 0 0;
  font-size: 1.8rem;
}
.bar__address {
  color: $darkGrey;
  font-weight: normal;
  font-size: .9rem;
  margin: 0 0 .3rem 0;
  font-family: Ambit-Light;
  sup {
  font-size: .7rem;
  }
}
.bar__rating {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto 0 0;
}
.rating {
  position: relative;
  width: 22px;
  height: 22px;
  margin: .2rem 0;
  background-image: url('../../assets/logo.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.rating--empty {
  filter: grayscale(1);
}
.rating--halfEmpty::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #fff;
  mix-blend-mode: hue;
}
.bar__metros {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.metro {
  width: 20px;
  height: 20px;
  margin-right: .3rem;
}
.bar__infos {
  display: flex;
  text-align: center;
  justify-content: space-around;
  overflow: scroll;
  img {
    display: inline-block;
    height: 25px;
  }
}
.check {
  width: 20px;
  margin-top: .4rem;
}
.info__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  margin: .5rem 0;
}
.info__terrace{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hours__label {
  font-family: Ambit-Regular;
  margin: 0;
  font-size: .8rem;
  color: $grey; 
}
.value {
  font-family: Ambit-Bold;
  font-size: 1.5rem;
  font-weight: bold;
  margin: .4rem 0 0 0;
}
.value--happy {
  color: $orange;
}