/* Use this file to put global style or variables */
html, body {
  font-size: 16px;
  font-family: Ambit-Regular;
}
.button__ok {
  display: inline-block;
  font-family: Ambit-SemiBold;
  cursor: pointer;
  padding: .7rem 2.25rem;
  background: linear-gradient(85.49deg, #ffe082 0.96%, #ffc107 49.51%, #ffa000 98.44%), #ffe082;
  border-radius: 18px;
  color: #fff;
}
p {
  margin: 0;
}